:root {
	/* ### Primary */

	--soft-blue: hsl(215, 51%, 70%);
	--yan: hsl(178, 100%, 50%);

	/* ### Neutral */

	--very-dark-blue-main-bg: hsl(217, 54%, 11%);
	--very-dark-blue-card-bg: hsl(216, 50%, 16%);
	--very-dark-blue-line: hsl(215, 32%, 27%);
	--white: hsl(0, 0%, 100%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.attribution {
	color: var(--yan);
	font-size: 15px;
	text-align: center;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
}
.attribution a {
	color: var(--yan);
}

body {
	background-color: var(--very-dark-blue-main-bg);
	position: relative;
}

/* .......Card.......... */

.card {
	display: flex;
	align-items: center;
	background-color: var(--very-dark-blue-card-bg);
	justify-content: center;
	flex-direction: column;
	width: 330px;
	height: 200px;
}

.card-top img {
	width: 100%;
}
